@model PaintAppModels.PaintGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PaintGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaintGroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaintGroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaintGroupDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaintGroupDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaintGroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
